<div class="container-fluid">
  <div class="justify-content-center">

    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Rails Connect Four</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h3 class="text-center">Choose which column to drop your tile into:</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
      <%= form_tag connect_four_drop_piece_path, :method => :post do %>
        <table>
          <% 6.times do |row| %>
          <tr>
            <% 7.times do |col| %>
              <td>
                <%= radio_button_tag ("move", "#") %>
              </td>
            <% end %>
          </tr>
          <% end %>
        </table>
        <%= submit_tag "DROP!" %>
      <% end  %>
      </div>
    </div>





    <div class="row">
      <div class="col-12">
        <table>
          <% 6.times do |row| %>
          <tr>
            <% 7.times do |col| %>
            <td>
              -
            </td>
            <% end %>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
